<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.hello.dao.TestDao">
 
 	<select id="selectAll">
 		SELECT * FROM tbl_test
 	</select>
 	<select id="findById"></select>
 	<insert id="insert">
 		 INSERT INTO tbl_test(t_num, t_num2)
 		VALUES(#{t_num},#{t_num2} )
 	</insert>
 	<update id="update"></update>
 	<delete id="delete"></delete>
 
 </mapper>  
