<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>나의 홈페이지</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h1>나의 홈페이지</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga
      pariatur possimus dolore, doloribus placeat repellat saepe,
      necessitatibus fugiat excepturi quod est a earum nesciunt,
      tempora quasi ducimus unde doloremque assumenda?
    </p>
  </body>
</html>
